h1 {
    margin-bottom: 6rem;
    padding: 2px;
    text-align: center;
}

[type="file"]::-webkit-file-upload-button {
    background-color: aqua;
    border: 2px solid #fdfd12;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 1s ease;
    margin: 5px;
}

.download {
    width: 100%;
    height: 20px;
    border: 1px solid #a8eba1;
    margin: 1rem .1rem;
}

.container {
    width: 100%;
    margin-bottom: 1rem;
}